/* main content */

main {
    display: flex;
    flex-direction: column;
}

main button a {
    text-decoration: none;
    color: black;
    font-size: large;
}

main button {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(1rem + 0.5vh);
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

main article {
    border-bottom: 1px solid #cccccc;
    margin: 20px 0;
}

.textBox {
    padding: 10px;
    margin: 10px;
}