article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.501) 2px dashed;
    margin: 2vh 0 3vh 0;
}


article p {
    padding: 10px;
    margin: 10px;
}

.textBoxes {
    margin-bottom: 30px;
}

article h2 {
    font-size: 4.4rem;
    padding: 5px 0;
}

article h3 {
    font-size: 3rem;
    padding: 10px;

}

article:last-of-type {
    border: none;
}