.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px 0 10px;
    padding-bottom: 40px;
    border-bottom: var(--nav-border) dashed 2px;

}

.article p {
    padding: 10px;
    margin: 10px;
}

.article .textBoxes {
    border: black solid 2px;
}

.article img {
    margin: 10px;
    border: black solid 2px;
}

.article h2 {
    font-size: 44px;
}

.article h3 {
    font-size: 30px;
}

.article:last-of-type {
    border: none;
}