/* rise of the forest page css */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;

}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

iframe {
    /* containing the image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}