/* this file contains all the styles that are consistent between the 3 pages */


/* global */

html {
    font-size: 62.5%;
}

:root {
    --nav-border: rgba(166, 166, 166, 0.346);
    --body-color: rgb(239, 239, 239);
    --desktop-margin-color: linear-gradient(to right, #808080, white, white, #808080);
    --active-page-highlight: rgb(43, 167, 167);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}


/* header */
header {
    display: flex;
    justify-content: center;

}

.logo img {
    padding: 5px 0 0 0;
    width: 120px;
    height: 120px;
}

/* nav bar */
.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    padding: 20px 0;
    border-top: var(--nav-border) 2px solid;
    border-bottom: var(--nav-border) 2px solid;

    font-size: calc(2rem + 1vw);

}

.navContainer a, .navContainer>li {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

.shop {
    cursor: not-allowed;
}

.navContainer a.active {
    color: var(--active-page-highlight);
}

/* consistent main content */
main {
    font-size: calc(1.5rem + 1vw);
}

article img {
    width: calc(100% - 2rem);
}

/* footer */
footer {
    /* keeps the footer at the bottom of page */
    margin-top: auto;

    display: flex;
    flex-direction: column;

}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding: 10px 90px;
    border-bottom: var(--nav-border) solid 2px;
}

.socials a {
    padding: 10px 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 20px 0;
    font-size: calc(1rem + 1vw);

}

/* fonts */
.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* desktop styles */

@media screen and (min-width: 1024px) {

    /* containing the main content 
    within the middle 50% of the page */
    main {
        width: 50%;
        margin: 0 auto;
    }
}